@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


body{
    background: linear-gradient(-90deg, #45d9fd, #99f19e);
    overflow-x: hidden;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.page-header{
    background-color: rgba(255,255,255,1);
    width:100%;
    height:80vh;
    border-radius: 0 0px 100px 100px;
    display:inline-block;
}
#work{
    background-color: rgba(255,255,255,1);
    width:90%;
    height:90vh;
    margin: 5vh 10vh 5vh 10vh;
    border-radius:30px;
    padding-top:10px;
    display: inline-block;
}

#education{
    background-color: rgba(255,255,255,1);
    width:90%;
    height:90vh;
    margin: 5vh 10vh 5vh 10vh;
    border-radius:30px;
    display: inline-block;
}

#skills{
    background-color: rgba(255,255,255,1);
    width:90%;
    height:90vh;
    margin: 5vh 10vh 5vh 10vh;
    border-radius:30px;
    display: inline-block;
}

#activities{
    background-color: rgba(255,255,255,1);
    width:90%;
    height:90vh;
    margin: 5vh 10vh 5vh 10vh;
    border-radius:30px;
    display: inline-block;
}

#resume{
    background-color: rgba(255,255,255,1);
    width:90%;
    height:90vh;
    margin: 5vh 10vh 5vh 10vh;
    border-radius:30px;
}

.header{
    background: linear-gradient(-90deg, #45d9fd, #99f19e);
}

.nav{
    margin-bottom:10vh;
}

  .title{
    text-align: center;
    background: -webkit-linear-gradient(#99f19e, #45d9fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:10px;
    font-size: 8vw;

  }
  .desc{
    text-align: center;
    background: -webkit-linear-gradient(#99f19e, #45d9fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:10px;
    font-size: 3vw;
  }

  .social-links{
    text-align: center;
  }

  .link{
      color:#99f19e;
  }

  .link:hover{
      color:#45d9fd;
  }

  .row{
      color:#fff;
      text-align: center;
  }

  .fa-2x {
    vertical-align: middle;
  }

  .navi{
      color:#fff;
  }
  .navi:hover{
    color:blueviolet;
    text-decoration: none;
}

::selection{
    background-color: #f1bbba;
}

.img-rounded{
    border-radius: 10px;
    width: 200px;
    height:200px;
    
}
.logo{
    width:240px;
    height:150px;
    
}
.logo-uni{
   width:188px;
   height:188px;
    
}

.logo-desc{
    font-family: 'Open Sans Condensed', sans-serif;
    color:#000;
    font-size: 3.5vh;
}

h4{

    color:#000;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}

h5{
    color:#000;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 18.4px;
}
.verticalLine {
    border-right:dashed grey;
  }

.resume{
    font-size: 42px;
    text-align: center;
}  

.resume-title{
    font-size: 42px;
    text-align: center;
    color:#000;
}

.resume-title:hover{
color: #99f19e;
}