@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
html,body{
    background-color:white;
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
    margin-right:-15px;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    
}
h5{
    font-size:22px;
}
a:hover{
    background-color:transparent !important;
}
mark{
    background-color:#ecf0f1;
}
@media (max-width: 779px) {
    .btn{
        margin-bottom:10px;
}}
  break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
  }
#box{
    width:90%;
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    min-height:65vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}

.icon{
    margin-top:10px;
    width:150px;
    height:150px;
    
    
}

.icon-rectangle{
    margin-top:10px;
    width:235px;
    height:120px;
   
}

#header{
    width:100vw;
    height:90vh;
    background-color:#1abc9c; 
    box-shadow: 0 5px 5px -5px #333;
}
#description{
   
    width:70vw;
    height:20vh;
    margin-left:15vw;
}
#terminal{
    
    text-align:left;
    vertical-align: middle;
    font-family: 'Ubuntu Mono', monospace;
    color:rgb(36, 204, 68);
    background-color:#282828;
    border-radius:5px;

}
#taskbar{
    width:100%;
    height:15%;
    background-color:#2c3e50;
    border-radius:2px;
    
}
#controls{
    width:30%;
}
#name{
    display:inline; 
    margin-left:14vw;
}
@media (max-width: 915px) {
    #terminal{

        text-align: center;
        margin-left:5vw;
        margin-right:5vw;
        

    }
    h5{
        font-size:19px;
    }

}

#navigation{
    width:100vw;
    height:10vh;
    background-color:#16a085; 
    box-shadow: 0 5px 5px -5px #333;
    
}
.fillSpace{
    width:100vw;
    height:18vh;
}

#work{
    width:100vw;
    min-height: 120vh;
    background-color:#34495e; 
}
#workFooter{
    width:100vw;
    height:10vh;
    background-color:#2c3e50; 
    box-shadow: 0 5px 5px -5px #444;
    
}
.workcolumn{
    height:80vh;

}

#projects{
    width:100vw;
    min-height:220vh;
    background-color:#ecf0f1; 
}
#projectsFooter{
    width:100vw;
    height:10vh;
    background-color:#bdc3c7; 
    box-shadow: 0 5px 5px -5px #444;
    
}

#contact{
    width:100vw;
    height:90vh;
    background-color:#e74c3c; 
}
#contactFooter{
    width:100vw;
    height:10vh;
    background-color:#c0392b; 
    box-shadow: 0 5px 5px -5px #444;
    
}

#resume{
    width:100vw;
    height:100vh;
    background-color:#f1c407; 
}
#footer{
    width:100vw;
    height:20vh;
    background-color:#f39c12; 
    box-shadow: 0 5px 5px -5px #444;
    
}