

@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Chicle');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600');

#first{
    border: 3px solid #fff;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color:#888;
}



#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #ff4e50;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}



.sidebar-brand{

font-family: 'Sacramento', cursive;



}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;

    font-size:18px;

}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Cinzel', serif;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 70px;
    font-size: 40px;
    line-height: 55px;

}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
    font-family: 'Sacramento', cursive;

}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* For Home */
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.title{

font-family: 'Josefin Slab', serif;
color:#fff;

}

.desc{

font-family:'Sue Ellen Francisco', cursive;
color:#fff;



}
.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.8em;
    font-weight: 700;
}

.text-vertical-center h3 {
    margin: 0;
    padding: 0;
    font-size: 2.3em;
    font-weight: 700;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.contact{

 display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(img/socialmedia.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;



}


.contact-vertical-center{

    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.contact-vertical-center h1{

    margin: 0;
    padding: 0;
    font-size: 4.8em;
    font-weight: 700;

}

.contact-vertical-center h4{

     margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 700;

}

.conctitle
{
    font-family: 'Josefin Slab', serif;
color:#fff;

}

.concdesp
{

font-family:'Sue Ellen Francisco', cursive;
color:#fff;

}


.about-vertical-center{
      display: table-cell;
    text-align: center;
    vertical-align: middle;


}
.about-vertical-center h{
font-family: 'Josefin Slab', serif;
color:#fff;
font-size: 25px;

}
.about{
     display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-color:#21b2a6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;


}


.resume-vertical-center{
      display: table-cell;
    text-align: center;
    vertical-align: middle;


}
.resume{
     display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(img/dollar.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;


}

.footer{
width:100%;
height:10px;
position:relative;
display:table;
background-color:#67d5b5;
}

.footer-vertical-center{
    display: table-cell;
    text-align: center;
    vertical-align: top;
    color:#fff;
}

.footer-vertical-center a{

    color:#fff;
}


.btn {
  text-transform: none;
  font-family: 'Cinzel', serif;
  font-weight: 500;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #fff;
  outline: none;
  color: black;
  background-color: #fff;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

.animated {

            background-repeat: no-repeat;
            background-position: left top;
            padding-top:0px;
            margin-bottom:60px;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }

         @-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }

         @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }

         .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
         }

.btn-lg.round
{
  border-radius: 24px;
font-family:'Sue Ellen Francisco', cursive;
  font
}
