@import '~antd/dist/antd.css';

:root {
  --bg-color: linear-gradient(90deg, #0052D4 0%, #4364F7 100%);;
}

.ant-typography {
  color: white;
}

.ant-layout {
  min-height: 100vh;
}

.IntroductionText {
  font-size: 3vh;
  font-weight: 400;
  margin: 2vh 1vw;
  box-decoration-break: clone;
}

.ant-typography a {
  color : white;
  text-decoration: none;
}

.ant-typography a:hover {
  color : white;
  text-decoration: none;
}

.ant-typography mark {
  color: white;
  background-color: rgba(255, 255, 255, 0.10);
}

.social {
  color: white;
  font-size: 2.5vh;
  margin: 2vh 1vw;
}

.social:hover{
  color: white;
}

.ant-layout-header {
  background: var(--bg-color);;
  color : white;
}

.ant-layout-content {
  background: var(--bg-color);;
  color : white;
  text-align : 'middle';
}

.ant-layout-footer {
  text-align : 'middle';
  background: var(--bg-color);;
  color : white;
}
